<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ear Training</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<nav><a class="nav-link" href="/info">Use Instructions</a> </nav>
<body>
    <div class="tog">
        <button class="button" id="play"></button>
        <button class="button" id="ans"></div>
    </div>
    <div class="container">
        <audio   id ="A" src="Audio/A.wav">A</audio>
        <audio   id ="Ash" src="Audio/Ash.wav">Ash</audio>
        <audio   id ="B" src="Audio/B.wav">B</audio>
        <audio   id ="C" src="Audio/C.wav">C</audio>
        <audio   id ="Csh" src="Audio/Csh.wav">Csh</audio>
        <audio   id ="D" src="Audio/D.wav">D</audio>
        <audio   id ="Dsh" src="Audio/Dsh.wav">Dsh</audio>
        <audio   id ="E" src="Audio/E.wav">E</audio>
        <audio   id ="F" src="Audio/F.wav">F</audio>
        <audio   id ="Fsh" src="Audio/Fsh.wav">Fsh</audio>
        <audio   id ="G" src="Audio/G.wav">G</audio>
        <audio   id ="Gsh" src="Audio/Gsh.wav">Gsh</audio>
    </div>
</body>
<script src="scripts/et.js"></script>
</html>