<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ear Training</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <nav><a class="nav-link" href="/">Train your Ear</a></nav>
  <body>
    <div class="container">
      <div class="info">
        <p>
          Ear training, or aural skills, is the practice of learning to identify
          pitches, rhythms, chords, and other music theory concepts by ear.
          Practicing ear training exercises will increase all aspects of your
          musicianship. You will become a better player, develop a deeper
          relationship to the music you study, the music you listen to, and
          sounds around you in general. Additionally, other musicians will enjoy
          playing with you more because you will be genuinely listening to them
          and just hearing them.
        </p>
        <p>
          Click to hear a random note play. Try to guess which note it is or try
          to play it on an instrument of your choice. After guessing click on
          the answer box to see what the note was. Practice to achieve
          Perfection.
        </p>
      </div>
    </div>
  </body>
  <script src="scripts/et.js"></script>
</html>
